{% extends 'base.html.twig' %}

{% block title %}Modifier tache{% endblock %}

{% block body %}
<div class="page">
    {{ include('components/navbar.html.twig') }}
    <div class="d-flex" style="min-height:calc(100vh - 56px);">
        {{ include('components/sidebar.html.twig', {'active_page': 'projets', 'sidebar_role': role}) }}
        <div class="flex-fill overflow-auto p-3">
                <div class="page-header d-print-none mb-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar bg-primary-lt text-primary"><i class="ti ti-subtask"></i></span>
                        </div>
                        <div class="col">
                            <div class="page-pretitle">Kanban &mdash; {{ projet.nom }}</div>
                            <h2 class="page-title">Modifier tache</h2>
                            {% if not canManageTasks|default(false) %}
                                <div class="text-muted">Mise a jour autorisee: statut et progression uniquement.</div>
                            {% endif %}
                        </div>
                        <div class="col-auto ms-auto">
                            <a href="{{ path('app_projet_index', {'projet': projet.idProjet}) }}" class="btn btn-outline-secondary">
                                <i class="ti ti-arrow-left me-1"></i>Retour
                            </a>
                        </div>
                    </div>
                </div>
                {{ include('tache/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        </div>
    </div>
</div>
{% endblock %}
