{{ form_start(form) }}
    <div class="row row-cards">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Informations principales</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        {{ form_row(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Refonte du portail client'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.description, {'attr': {'class': 'form-control', 'rows': 5, 'placeholder': 'Contexte, objectifs et livrables attendus...'}}) }}
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <h3 class="card-title">Planification</h3>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-6">
                            {{ form_row(form.date_debut, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.date_fin_prevue, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.date_fin_reelle, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.statut, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.priorite, {'attr': {'class': 'form-select'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Equipe projet</h3>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        {{ form_row(form.responsable, {'attr': {'class': 'form-select'}}) }}
                    </div>
                    <div class="mb-2">
                        {{ form_row(form.membresEquipe, {'attr': {'class': 'form-select', 'size': 10}}) }}
                    </div>
                    <div class="form-hint">
                        Utilisez Ctrl (Windows) ou Cmd (Mac) pour selectionner plusieurs membres.
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_errors(form) }}

    <div class="mt-3 d-flex gap-2">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('app_projet_index') }}" class="btn btn-outline-secondary">Annuler</a>
    </div>
{{ form_end(form) }}
