{% extends 'base.html.twig' %}

{% block title %}Modifier projet{% endblock %}

{% block body %}
<div class="page">
    {{ include('components/navbar.html.twig') }}
    <div class="d-flex" style="min-height:calc(100vh - 56px);">
        {{ include('components/sidebar.html.twig', {'active_page': 'projets','sidebar_role': role}) }}
        <div class="flex-fill overflow-auto p-3">
                <div class="page-header d-print-none mb-3">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar bg-azure-lt text-azure"><i class="ti ti-pencil"></i></span>
                        </div>
                        <div class="col">
                            <div class="page-pretitle">Edition</div>
                            <h2 class="page-title">Modifier projet</h2>
                            <div class="text-muted">Ajustez les dates, le statut, la priorite et la composition de l'equipe.</div>
                        </div>
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <a href="{{ path('app_projet_index', {projet: projet.idProjet}) }}" class="btn btn-outline-secondary">
                                    <i class="ti ti-arrow-left me-1"></i>Retour
                                </a>
                                {{ include('projet/_delete_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ include('projet/_form.html.twig', {'button_label': 'Mettre a jour'}) }}
        </div>
    </div>
</div>
{% endblock %}
